# Prepare book CSVs

In [6]:
# Load harrypotter canon text
import os
from tqdm import tqdm_notebook as tqdm
from itertools import groupby
import pandas as pd

hp_dirpath = '/projects/fanfic_embeddings/from_James/canon_data/harry_potter_tokenized/'
out_dirpath = '/usr0/home/mamille2/storyq/harrypotter_data/pipeline_input_csv'
books = range(1,8)
for i in tqdm(books):
    fpath = os.path.join(hp_dirpath, f'Harry_Potter_{i}.tokenized.txt')
    with open(fpath) as f:
        text = f.read().splitlines()
        
        # Split by chapter
        chapters = [list(g) for k,g in groupby(text, key=lambda x: not x.startswith('Chapter')) if k][1:]

        # Create csv
        outlines = []
        for c, chapter in enumerate(chapters):
            for p, para in enumerate(chapter):
                outlines.append([f'Book {i}', c+1, p+1, para])
        df = pd.DataFrame(outlines, columns=['story_name', 'chapter_id', 'paragraph_id', 'text_tokenized'])
        df.to_csv(os.path.join(out_dirpath, f'harrypotter_book{i}.csv'), index=False)

HBox(children=(IntProgress(value=0, max=7), HTML(value='')))

In [5]:
chapter_titles = [line for line in text if line.startswith('Chapter')]
chapter_titles

['Chapter 1',
 'Chapter 2',
 'Chapter 3',
 'Chapter 4',
 'Chapter 5',
 'Chapter 6',
 'Chapter 7',
 'Chapter 8',
 'Chapter 9',
 'Chapter 10',
 'Chapter 11',
 'Chapter 12',
 'Chapter 13',
 'Chapter 14',
 'Chapter 15',
 'Chapter 16',
 'Chapter 17']

# Select a few chapter CSVs

In [7]:
selected_books = [1,3,5,7]

for i in tqdm(selected_books):
    # Load book
    data = pd.read_csv(os.path.join(out_dirpath, f'harrypotter_book{i}.csv'))
    
    # select chapter
    n_chapters = len(data['chapter_id'].unique())
    selected_chapter = int(n_chapters/2)
    
    selected_data = data[data['chapter_id']==selected_chapter]
    selected_data.to_csv(os.path.join(out_dirpath, 'chapters', f'harrypotter_book{i}_chapter{selected_chapter}.csv'), index=False)

HBox(children=(IntProgress(value=0, max=4), HTML(value='')))

In [8]:
selected_data

,story_name,chapter_id,paragraph_id,text_tokenized
3160,Book 7,18,1,The Life and Lies of Albus Dumbledore
3161,Book 7,18,2,"The sun was coming up : The pure , colorless v..."
3162,Book 7,18,3,"Without realizing it , he was digging his fing..."
3163,Book 7,18,4,He pulled the pieces of the broken wand out of...
3164,Book 7,18,5,And his fury at Dumbledore broke over him now ...
...,...,...,...,...
3235,Book 7,18,76,Harry dropped his arms .
3236,Book 7,18,77,"“ I do n’t know who he loved , Hermione , but ..."
3237,Book 7,18,78,"Harry picked up Hermione ’s wand , which he ha..."
3238,Book 7,18,79,“ Thanks for the tea . I ’ll finish the watch ...
3239,Book 7,18,80,"She hesitated , but recognized the dismissal ...."